# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Environment files
.env
.env.production

# VSCode
.vscode/

# DB
*.sqlite3
*.db

# Migrations
migrations/

# Package files
*.egg
*.egg-info

ai_debug_palyoads/
*.json
ai_debug_payloads/ai_payload_campaign_1.json
ai_debug_payloads/ai_payload_plotcheck_1.json
ai_debug_payloads/ai_payload_response_1.json
